.gallery {
    background-color: $spruce; 
    padding: 10% 0;  
}

.galleryFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.galleryImg {
    width:90%;
    margin: 10px 0;
}